img {
    width: 250px;
    height: auto;
}
.line {
    border-top: 1px solid black;
    margin: 10px 0; /* Adjust the margin to control the spacing above and below the line */
}
footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}


